apiVersion: skaffold/v2beta7
kind: Config
metadata:
    name: blockvisor-ui
build:
    tagPolicy:
        gitCommit: {}
    artifacts:
        - image: us-docker.pkg.dev/blockjoy-deployer/blockvisor-ui/blockvisor-ui-dev
          context: ./
          docker:
              buildArgs:
                  NEXT_PUBLIC_VERCEL_ENV: 'production'
                  NEXT_PUBLIC_SUPPORT_EMAIL: 'support@blockjoy.com'
                  NEXT_PUBLIC_API_URL: 'https://api.dev.blockjoy.com'
                  NEXT_PUBLIC_MQTT_URL: 'wss://mqtt.dev.blockjoy.com:8084/mqtt'
                  NEXT_PUBLIC_SHORT_SHA: '{{.SHORT_SHA}}'
                  NEXT_PUBLIC_PLAUSIBLE_DATA_DOMAIN: 'app.dev.blockjoy.com'
                  NEXT_PUBLIC_CRISP_WEBSITE_ID: '09ccc057-4bc5-4c14-909a-6b10f6bbe1cb'
                  CRISP_API_URL: 'https://api.crisp.chat/v1'
                  CRISP_TOKEN_IDENTIFIER: '50052e9a-1e04-4b2d-8186-5e1daf223c3e'
                  CRISP_TOKEN_KEY: '{{.CRISP_TOKEN_KEY}}'
                  CRISP_FAQ_CATEGORY_ID: '0d56e507-52b6-4aeb-b022-0d75e41fabc7'
        - image: us-docker.pkg.dev/blockjoy-deployer/blockvisor-ui/blockvisor-ui-staging
          context: ./
          docker:
              buildArgs:
                  NEXT_PUBLIC_VERCEL_ENV: 'production'
                  NEXT_PUBLIC_SUPPORT_EMAIL: 'support@blockjoy.com'
                  NEXT_PUBLIC_API_URL: 'https://api.staging.blockjoy.com'
                  NEXT_PUBLIC_MQTT_URL: '{{.NEXT_PUBLIC_MQTT_URL}}'
                  NEXT_PUBLIC_SHORT_SHA: '{{.SHORT_SHA}}'
                  NEXT_PUBLIC_PLAUSIBLE_DATA_DOMAIN: 'app.staging.blockjoy.com'
                  NEXT_PUBLIC_CRISP_WEBSITE_ID: '09ccc057-4bc5-4c14-909a-6b10f6bbe1cb'
                  CRISP_API_URL: 'https://api.crisp.chat/v1'
                  CRISP_TOKEN_IDENTIFIER: '50052e9a-1e04-4b2d-8186-5e1daf223c3e'
                  CRISP_TOKEN_KEY: '{{.CRISP_TOKEN_KEY}}'
                  CRISP_FAQ_CATEGORY_ID: '0d56e507-52b6-4aeb-b022-0d75e41fabc7'
    local:
        push: true
        useDockerCLI: true
        concurrency: 0
profiles:
    - name: dev
      deploy:
          kustomize:
              paths:
                  - ../kubernetes/dev
    - name: staging
      deploy:
          kustomize:
              paths:
                  - ../kubernetes/staging
    - name: prod
      deploy:
          kustomize:
              paths:
                  - ../kubernetes/prod
