apiVersion: skaffold/v2beta7
kind: Config
metadata:
  name: blockvisor-ui
build:
  tagPolicy:
    gitCommit: {}
  artifacts:
  - image: us-docker.pkg.dev/blockjoy-deployer/blockvisor-ui/blockvisor-ui-staging
    context: ./
    docker:
      buildArgs:
        NEXT_PUBLIC_VERCEL_ENV: "production"
        NEXT_PUBLIC_SUPPORT_EMAIL: "support@blockjoy.com"
        NEXT_PUBLIC_API_URL: "https://api.staging.blockjoy.com"
        NEXT_PUBLIC_ORG_ID: "9e127189-edad-44b2-9d0d-0a5e4be81b48"
        NEXT_PUBLIC_LOADING_DURATION: "200"
        NPM_TOKEN : "{{.NPM_TOKEN}}"
        NEXT_PUBLIC_SHORT_SHA: '{{.SHORT_SHA}}'
        NEXT_PUBLIC_PLAUSIBLE_DATA_DOMAIN: 'app.staging.blockjoy.com'
        NEXT_PUBLIC_CRISP_WEBSITE_ID: '09ccc057-4bc5-4c14-909a-6b10f6bbe1cb'
        CRISP_API_URL: 'https://api.crisp.chat/v1'
        CRISP_TOKEN_IDENTIFIER: '50052e9a-1e04-4b2d-8186-5e1daf223c3e'
        CRISP_TOKEN_KEY: '{{.CRISP_TOKEN_KEY}}'
        CRISP_FAQ_CATEGORY_ID: '0d56e507-52b6-4aeb-b022-0d75e41fabc7'
       
  - image: us-docker.pkg.dev/blockjoy-deployer/blockvisor-ui/blockvisor-ui-prod
    context: ./
    docker:
      buildArgs:
        NEXT_PUBLIC_VERCEL_ENV: "production"
        NEXT_PUBLIC_SUPPORT_EMAIL: "support@blockjoy.com"
        NEXT_PUBLIC_API_URL: "https://api.prod.blockjoy.com"
        NEXT_PUBLIC_ORG_ID: "9e127189-edad-44b2-9d0d-0a5e4be81b48"
        NEXT_PUBLIC_LOADING_DURATION: "200"
        NPM_TOKEN : "{{.NPM_TOKEN}}"
        NEXT_PUBLIC_SHORT_SHA: '{{.SHORT_SHA}}'
        NEXT_PUBLIC_PLAUSIBLE_DATA_DOMAIN: 'app.prod.blockjoy.com'
        NEXT_PUBLIC_CRISP_WEBSITE_ID: '09ccc057-4bc5-4c14-909a-6b10f6bbe1cb'
        CRISP_API_URL: 'https://api.crisp.chat/v1'
        CRISP_TOKEN_IDENTIFIER: '50052e9a-1e04-4b2d-8186-5e1daf223c3e'
        CRISP_TOKEN_KEY: '{{.CRISP_TOKEN_KEY}}'
        CRISP_FAQ_CATEGORY_ID: '0d56e507-52b6-4aeb-b022-0d75e41fabc7'
  local: 
    push: true
    useDockerCLI: true
    concurrency: 0
profiles:
- name: dev
  deploy:
    kustomize:
      paths:
        - ../kubernetes/dev
- name: staging
  deploy:
    kustomize:
      paths:
        - ../kubernetes/staging
- name: prod
  deploy:
    kustomize:
      paths:
        - ../kubernetes/prod
